body {
  background: #556b2f;
  background-image: url("./assets/wallpaper-img.jpg");
}

.card-text {
  font-size: 20px;
}

input[type="checkbox"] {
  visibility: hidden;
}

input[type="checkbox"] + label:before {
  border: 1px solid #333;
  content: "\00a0";
  display: inline-block;
  font: 10px sans-serif;
  height: 16px;
  margin: 5px 5px 0 0;
  vertical-align: top;
  width: 16px;
}

input[type="checkbox"]:checked + label:before {
  background: #556b2f;
  color: white;
  content: "\2713";
  text-align: center;
}

input[type="checkbox"]:checked + label:after {
  font-weight: bold;
}

label {
  font-size: 15px;
}

#selectionsRow {
  margin-top: 10%;
}

.hideDiv {
  display: none;
}

.dispayDiv {
  display: inline;
}

#findRecipe {
  margin: auto;
  margin-top: 5%;
}

.container {
  font-family: "Sriracha", cursive;
  background-image: url();
}

p {
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 1px;
}

#Start {
  padding: 5%;
  margin: 20%;
  text-align: center;
  font-family: "Sriracha", cursive;
  background-image: url("./assets/home-img.jpg");
  color: white;
}

#startedBtn {
  background-color: #6b8e23;
}

#homePic {
  width: 100px;
}

#findRecipe {
  background-color: #eff1e9;
  color: #6b8e23;
  height: 50px;
  width: 160px;
}

.btn {
  color: white;
  font-family: "Sriracha", cursive;
  border: none;
}

.btn:hover {
  color: rgba(255, 255, 255, 0.479);
  text-decoration: none;
}

#primary-image {
  margin: auto;
  align-content: center;
  height: 500px;
  width: 85%;
}

#finalRecipeImg {
  border-style: solid;
  border-color: black;
}

#finalRecipeTitle {
  text-align: center;
}

#ingredientsHeading {
  text-align: center;
}

.ingredient-checkbox {
  text-align: left;
}

.recipeImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.recipeTitle {
  text-align: center;
  color: black;
  -webkit-text-fill-color: #6b8e23;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  margin-left: 20%;
  margin-right: 20%;
}

#selectRecipe {
  background-color: #6b8e23;
  color: white;
}

#close {
  background-color: white;
  color: #6b8e23;
}

#goBack {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  color: #6b8e23;
}

#saveRecipe {
  background-color: #6b8e23;
  color: white;
}

#goBackPage2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  color: #6b8e23;
}

.card {
  border: none;
  text-align: left;
  background-color: #eff1e9;
}

.card-header {
  background-color: #6b8e23;
  padding: 2px;
  text-align: center;
}

.card-body {
  padding-left: 30%;
}

.btn-link {
  color: white;
}

#carouselDiv {
  margin: 13%;
}
